.form {
    width: 250px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input {
    padding: 4px 10px;
}

.errorWrapper {
    height: 14px;
    font-size: 12px;
    color: red;

}