input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  transition: border-color 250ms ease-in-out;

  &:hover {
    border-color: #000000;
  }
  &:focus {
    border-color: #4e75ff;
    outline: none;

    color: #000;
  }
  &:disabled {
    background: #fafafa;

    color: #808080;
  }
}

button {
  /* width: 75px; */
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;

  background-color: #4e75ff;

  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: #6c8cff;
  }
  &:disabled {
    background-color: #cfcfcf;

    color: #989898;
  }
}

.timer {
  margin-top: 32px;

  display: flex;
  gap: 24px;

  & .field {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .value {
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: 0.04em;
    }
    & .label {
      text-transform: uppercase;
    }
  }
}
