.form {
  max-width: 400px;
  padding: 20px;

  & .time-input {
    margin-bottom: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    & input {
      width: 100%;
    }
  }

  & fieldset {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 24px;

    display: flex;
    justify-content: center;
    gap: 48px;

    & label {
      display: flex;
      align-items: center;

      & input {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        margin-right: 14px;
      }
    }
  }

  & button {
    width: 100%;
  }
}
