:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: "Montserrat", sans-serif;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
