.feedback-form {
  width: 408px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  & label {
    color: #2e2f42;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    display: flex;
    flex-direction: column;
    gap: 8px;

    & input,
    & textarea {
      width: 100%;
      border-color: #808080;
      border-width: 1px;
      border-radius: 4px;
      padding: 8px 16px;

      color: #2e2f42;
      font-size: 16px;
      letter-spacing: 0.04em;

      transition: border-color 250ms ease-in-out;

      &:hover {
        border-color: #000000;
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
    & input {
      height: 40px;
    }
    & textarea {
      height: 80px;
      margin-bottom: 8px;
    }
  }

  & button {
    width: 95px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;

    background-color: #4e75ff;

    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms ease-in-out;

    &:hover {
      background-color: #6c8cff;
    }
  }
}
