.container {
    margin-bottom: 10px;

    display: flex;
    gap: 20px;
}

.image {
    width: 200px;
    height: 300px;
}

.additional_container {
    margin-bottom: 20px;

    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.additional_list {
    padding-left: 30px;
    list-style-type: disc;
}