.container {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    border-radius: 15px;
    padding: 12px 20px;

    background-color: rgb(107, 96, 192);

    color: white;
    font-weight: 600;
    text-decoration: none;
}