* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;
}

ul,
ol {
  padding: 0;

  list-style: none;
}

h1,
h2 {
  margin: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input {
  height: 40px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border: none;
}

.btn-back,
button {
  width: 86px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;

  background-color: #4e75ff;
  box-shadow: 0 2px 5px -2px #000;

  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: opacity 250ms ease-in-out;
}

.btn-back:hover {
  opacity: 0.8;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > li {
    border-radius: 8px;
    padding: 16px;
    width: 392px;
    height: 264px;

    background: #f6f6fe;

    & h2 {
      margin-bottom: 16px;
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & li {
        height: 40px;
        width: 360px;
        border: 1px solid #808080;
        border-radius: 4px;
        padding: 8px 16px;
      }
    }
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;

  & li {
    width: 360px;
    height: 300px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.widget {
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.change-color {
  width: auto;
}