:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 44px;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

button {
  padding: 8px 16px;
  height: 40px;
  border-radius: 8px;
  border: none;

  background-color: #4e75ff;

  font-weight: 500;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: #6c8cff;
  }
}

.hidden {
  display: none;
}